@import './App.css';

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

::selection {
    background: var(--orange);
    color: #fff;
}